
.pagina{
    font-family: Arial, Helvetica, sans-serif;
}
#subtitulos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-variant: small-caps;
    font-style: oblique;
}
#titulo{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 32px;
    font-variant: small-caps;
    
}

